{% extends "layout.html" %}

{% block main %}
<div class="center">
            <h4>"{{book["title"]}}" by {{book["author"]}}</h4>
</div>
    <div class="book_page" > 
        <h5>Information about book:</h5>
        <p>Title: "{{book["title"]}}"</p>
        <p>Author: {{book["author"]}}</p>
        <p>Year: {{book["year"]}}</p>
        <p>ISBN: {{book["isbn"]}}</p>
        <p>Number of reviews: {{book["review_count"]}}</p>
        <p>Average rating: {{book["average_score"]}}</p>
    </div>

    {% if count[0] != 0 %}
        <div class="book_page">
            <h5>Reviews from other users:</h5>
            {% for review in reviews %}
            <div id="user_review">
                <p id="rating"> {{review[0]}} rated it {{review[2]}} of 5:</p>
                <p>{{review[1]}}</p>
            </div>
            {% endfor %} 
        </div>
    {% else %}
        <div class="book_page">
            <h5>There are no reviews from users yet. Be the first one!</h5>
        </div>
    {% endif %}

    
    <div class="book_page">
        <h4>What do you think about "{{book['title']}}"?</h4>
        <h5>Please leave a review</h5>
        <form action="/book/{{book['isbn']}}" method="POST">
            <div>
                <input class='review' type="text" name="review" placeholder="Enter your review" autocomplete="off" style="width: 50%; padding-bottom:50px; margin-bottom:10px;" required>
            </div>
            <div>
                <input id='review' type="number" name="rating" placeholder="Enter your rating from 1 to 5" min="1" max="5" required >
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
    
{% endblock %}






            


        
    </body>
</html>