<!DOCTYPE html>
<html lang="en">
    <head>
       <title>Project 1: Books</title> 
    </head>
    <body>
        <h1>SEARCH</h1>
        <form action="/search" method="POST">
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column bd-highlight mb-3">
                    <input class="p-2 bd-highlight" type="text" name="search" placeholder="Enter ISBN number, title or author" autocomplete="off" style="width: 30%;" required>
                    <button type="submit" class="text-center p-2 bd-highlight">Search</button>
                </div>
            </div>
        </form>
        <p> TEST</p>
    </body>
</html>